@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

.container{
   
    background-image: url('../../assets/ayodhya.webp');
    /* background-image: url('../../assets/Hotel.avif'); */
    background-size: 98% 80%; 
    background-repeat: no-repeat;
    background-position: top; 
    height: 100vh; 
    width: 100vw;
    background-attachment: fixed; 
    
  }

  /* NAV exclusive */
.nav-change{
  width: 100%;
  height: 35% !important;
  display: flex;
  justify-content: center;
  
}

/* Transitions */
.zoom-enter {
  transform: scale(0.9);
  opacity: 0.5;
}
.zoom-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
.zoom-exit {
  transform: scale(1);
  opacity: 1;
}
.zoom-exit-active {
  transform: scale(0.9);
  opacity: 0.5;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
