.gallery-content {
    background-repeat: repeat;
    background-position: top;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
   
}


/* Main Divs */

.gallery-main-div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gallery-top-div{
    /* margin-bottom: 60px; */
    padding: 20px;
    width: 70%;
    height: 90%;
    z-index: 1;
    position: relative;
}

.gallery-heading{
    background: none;
    width: 35%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 700;
    font-size: x-large;
    margin-bottom: 10px;
    margin-left: 0;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 3px solid rgba(255, 255, 255, 0.18);
}

.gallery-info{
    /* padding: 0px; */
    background: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.gallery-bottom-div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

.gallery-fill {
    width: 100%;
    height: 70%;
    background: #F5F5F5;
  
  }

.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px !important;
    gap: 30px;
}

@media (max-width: 1280px){

    .new-collections h1{
        font-size: 40px;
    }

    .new-collections hr{
        width: 160px;
        height: 4px;
    }

    .collections{
        margin-top: 30px;
        gap: 20px;
    }
}

@media (max-width: 1024px){

    .new-collections h1{
        font-size: 30px;
    }

    .new-collections hr{
        width: 120px;
        height: 3px;
    }

    .collections{
        margin-top: 20px;
        gap: 10px;
    }
}

@media (max-width: 800px){
    .gallery-top-div{
        width: 90%;
    }
    .new-collections{
        gap: 6px;
    }

    .new-collections h1{
        font-size: 20px;
    }

    .new-collections hr{
        width: 100px;
    }

    .collections{
        gap: 5px;
    }
}

@media (max-width: 500px){

    .gallery-heading{
        width: 50%;
    }

    .new-collections h1{
        font-size: 20px;
    }

    .new-collections hr{
        width: 100px;
    }

    .gallery-top-div {
        width: 100%;
      }
    
      .gallery-info {
        width: 100%;
      }

    .collections{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 20px;
    }
}