.item {
    /* width: 100%; */
    transition: transform 0.6s;
}

.item img {
    width: 100%;
    height: 80%;
}



.item:hover {
    transform: scale(1.05);
}

@media (max-width: 1280px) {
    .item-price-old {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .item {
        font-size: 13px;
    }

    .item-price-old {
        font-size: 13px;
    }
}

@media (max-width: 800px) {
    .item {
        font-size: 12px;
    }

    .item-price-old {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .item {
        font-size: 12px;
    }
}
