
.main-container{
  /* width: 95vw;
  height: 90vh; */
  padding-left: 14px;
  padding-right: 14px;
  margin-left: 15px;
  margin-right: 15px;          /* for better rendering in chrome */
  display: flex;
  justify-content: center;
}